body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.feed {
  margin-top: 20px;
}

.post {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.post p {
  margin: 0;
}

.delete-post {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.logout-button {
  background-color: #ff4d4d; /* Red color */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #cc0000; /* Darker red color on hover */
}


.friends {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  border-radius: 5px;
  text-align: center;
}

.friend {
  margin-bottom: 5px;
}

.my_fr {
  color: black;
}
