body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f6fc; /* Light blue background */
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff; /* White container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.register-form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Blue button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* flash */
.flash-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  border-radius: 5px;
  text-align: center;
}

.message {
  margin-bottom: 5px;
}

.beautiful-link {
  color: #007bff; /* Blue color */
  text-decoration: none; /* Remove underline */
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #007bff; /* Blue border */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  display: inline-block;
}

.beautiful-link:hover {
  background-color: #007bff; /* Blue color on hover */
  color: #fff; /* White text on hover */
}


