<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в личный кабинет</title>
    <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
</head>
<body>
<div class="flash-message">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
    <div class="container">
        <form action="#" method="post" class="register-form">
            <h2>Вход в профиль</h2>
            <div class="form-group">
                <label for="username">Ваше имя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
<a href="{{url_for('register')}}" class="beautiful-link">Регистрация</a>
</body>
</html>
