{% extends 'base.html' %}

{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='posts.css')}}">{% endblock %}

{% block body %}
    <div class="container">
        <h1>Лента новостей</h1>
        <div class="post">
            <div>
            {% for post in posts %}
            <h2 class="username">{{ post.author.username }}</h2>
            <h4 class="title">{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}





